@model UCHEBNAYAPRAKTIKA.Models.Street

@{
    ViewBag.Title = "Улица";
}
<div class="container p-3">
    <div>
        <h4>Улица</h4>
        <hr />
        <dl>
            <dt>
                Город
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City.CityName)
            </dd>

            <dt>
                Улица
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StreetName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.StreetKey }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
</div>
