@model UCHEBNAYAPRAKTIKA.Models.City

@{
    ViewBag.Title = "Город";
}
<div class="container p-3">
    <h2>Подтвердите удаление</h2>

    <h5>Вы уверены, что хотите удалить город?</h5>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt class="text-black-50">Город        </dt>

            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>

            <dt class="text-black-50">Регион        </dt>

            <dd>
                @Html.DisplayFor(model => model.Region.RegionName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>