@model UCHEBNAYAPRAKTIKA.Models.City

@{
    ViewBag.Title = "Город";
}
<div class="container p-3">
    <div>
        <h4>Город</h4>
        <hr />
        <dl>
            <dt>
                Город
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>

            <dt>
                Регион
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Region.RegionName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.CityKey }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
</div>