@model UCHEBNAYAPRAKTIKA.Models.Auction

@{
    ViewBag.Title = "Аукцион";
}

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Аукцион        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionName)
        </dd>

        <dt>
Вебсайт        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>        

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.AuctionKey }, htmlAttributes: new { @class="btn btn-info" }) 
    @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
