@model UCHEBNAYAPRAKTIKA.Models.Auction

@{
    ViewBag.Title = "Аукцион";
}
<div class="container p-3">
    <div>
        <h4>Аукцион</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt  class="text-black-50">
                Аукцион
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuctionName)
            </dd>

            <dt class="text-black-50">
                Вебсайт
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.AuctionKey }, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
</div>